
.xb-container {
}

.xb-disclaimer {
  margin: 20px;
  padding: 10px;
	border: 1px solid #F00;
	text-align: center;
}

.xb-table {
}

.xb-item {
}

.xb-up {
}

.xb-folder {
  font-weight: bold;
}

.xb-subfolder {
  margin-left: 20px;
}

.xb-bookmark {
}

.xb-icon {
  width: 16px;
  height: 16px;
  margin-right: 5px;
}
